.WhiteCircle{
    background: white;
    width: 25vh;
    height: 25vh;
    margin: 12.5vh;
    border-radius: 50%;
}

.BlackCircle{
    background: black;
    width: 25vh;
    height: 25vh;
    margin: 12.5vh;
    border-radius: 50%;
}

.BubbleImage{
    padding:12.5vh;
}



