.Circle{
    background: white;
    width: 25vh;
    height: 25vh;
    margin: 12.5vh;
    border-radius: 50%;
}

.BubbleImage{
    padding:12.5vh;
}


.Links{
    margin-top: 12.50%;
    margin-left: 40%;
    margin-right: 35%;
    display: flex;
    justify-content: space-between;
}

.Links svg {
    fill:white;
}

.Links svg:hover g {
    fill: #009DDF;
}

.Skills{
    margin: 20% 0px 5% 50%;
    font-size: 20px;
}
