.Intro{
    margin-left:8%;
    margin-top:15%;
    width: 60%;
    float: left;
    z-index: 2;
    font-size: 24px;
    position:block;
    font-family: 'Merriweather'
}

.Intro > span {
    font-weight: 500;
    color: #009DDF !important;
}

.Description{
    color: rgba(35,36,38,0.8);
    margin-left: 15%;
    margin-top: 5%;
    position:relative;
    font-size: 16px;
    width: 55%;
    z-index: 2;

    font-family: 'Merriweather'
}

.WorkPlaces{
    margin:15% 0px 0px 23%;
    float:left;
    width:35%;
    text-align: center;
}

@media (min-width: 1750px) {

    .Intro{
        font-size: 30px;
    }

    .Description{
        font-size: 20px;
    }
}


.TmLogo{
    width:50%;
    height:100%
}

.TmLogo:hover > g{
    fill:rgba(127, 127, 127, 1);
}

.IsuLogo{
    width:50%;
    margin: 20px 0px 20px 0px;
}

.IsuLogo > g{
    fill: rgb(124, 124, 124);
}

.IsuLogo:hover > g {
    fill: rgb(0, 0, 0);
}