.Divide{
    float:left;
    width: 50%;
    height:100vh;
}

.Black{
    background-color:black;
    color:white;
}

.White{
    background-color:white;
}

@media (max-width: 500px){

    .Divide{
        display:inline-block;
        float:none;
        width: 100%;
        height:auto;
    }
    

}