.SkillGrid{
    margin-top: 10px;
}

.SkillGrid svg {
    height:60px;
    width: 60px;
}

.SkillGrid g { 
    fill:white;
}

.SkillGrid path{
    fill: white;
}

.SkillGrid g path{
    fill: white;
}

.SkillGrid div:first-child{
    margin-bottom: 25px;
}


.Blue:hover path{
    fill: #009DDF;
}

.Purple:hover path{
    fill: #A37CDE;
}

.Red:hover path{
    fill: #E52A3A;
}

.Scarlet:hover path{
    fill: #DE2C36;
}

.Orange:hover path{
    fill: #FF9A00;
}

.Grey:hover path, .Grey:hover ellipse{
    fill: lightgrey;
}